<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="row">
            <div class="col s12 m4 l3 hide-on-small-only">
                <h6 style="font-weight:bold;text-align:center;border-bottom:2px solid #fff;padding-bottom:3px;text-transform:uppercase;margin-left:20px">Шинэ хэрэглэгч</h6>
                <div id="messagesTable"></div>
            </div>
            <div class="col s12 m8 l9">
                <h2 class="header center  white-text">158-158</h2>
                <div class="row center">
                    <h5 class="header col s12 light">Тусгай дугаарт <span class="btn btn-floating red white-text"><b>1</b></span> гэсэн мессеж илгээж <b>150</b> (Mobicom) нэгжээр өөрийгөө төрийн жинхэнэ албаны мэргэшлийн шалгалтад сориорой</h5>
                </div>
                <div class="row center">
                    <a href="~/home/code" class="btn-large waves-effect waves-light blue">Туршиж үзэх</a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/images/bg1.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 135px, 0px);">
    </div>
</div>
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">stay_current_portrait</i></h2>
                    <h5 class="center">Бүх төрлийн</h5>

                    <p class="light">гар утас, суурин компьютер, таблет гээд интернэт холболт бүхий бүх төрлийн төхөөрөмжөөс хэзээ ч, хаана ч бөглөх боломжтой таны түвшинг бүрэн тодорхойлол цогц систем юм.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Таны туслах</h5>

                    <p class="light">Илүү үр дүнтэй хурдан хугацаанд шалгалтандаа тэнцэхэд тань тусална. Таны шалгалтын дүнг хамгийн ойлгомжтойгоор харуулж анализ хийх боломжийг танд олгоно.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Хэрэглэхэд хялбар</h5>

                    <p class="light">Та 158-158 тусгай дугаарт 1 гэсэн мессеж илгээж 150 нэгжээр код авах ба авсан кодоо утасны дугаарын хамт туршиж үзэх хэсэгт оруулхад нэг удаагийн шалгалт өгөх боломжтой.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="parallax-container valign-wrapper hide-on-small-only">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s3 white-text"><i class="medium material-icons">schedule</i><br />Цаг заваа хэмнэх боломж</h5>
                <h5 class="header col s3 white-text"><i class="medium material-icons">motorcycle</i><br />Сургалтанд сууж замд түгжрэхгүй</h5>
                <h5 class="header col s3 white-text"><i class="medium material-icons">spellcheck</i><br />Хариулах бүрт зөв буруу нь ойлгомжтой харагдана</h5>
                <h5 class="header col s3 white-text"><i class="medium material-icons">thumb_up</i><br />Жинхэнэ шалгалтын зарчимтай адил</h5>
            </div>
            <div class="row center">
                <h5 class="header col s3 white-text"><i class="medium material-icons">visibility</i><br />Уншихад ойлгомжтой цэгцтэй</h5>
                <h5 class="header col s3 white-text"><i class="medium material-icons">vpn_key</i><br />Хуулийн заалт харах боломж</h5>
                <h5 class="header col s3 white-text"><i class="medium material-icons">weekend</i><br />Ажил, гэр, гадуур гээд хаанаас ч хэзээ ч ...</h5>
                <h5 class="header col s3 white-text"><i class="medium material-icons">shopping_cart</i><br />Мессежээр төлбөрөө хийх боломж</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/images/bg2.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 8px, 0px);">
    </div>
</div>
<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Бидэнтэй холбогдох</h4>
                <h4 class="light"><i class="material-icons">phone</i> 88096546, <i class="material-icons">phone</i>99079059</h4>
            </div>
        </div>

    </div>
</div>
<div class="parallax-container valign-wrapper hide-on-small-only">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Биеэ засаад гэрээ зас, гэрээ засаад төрөө зас ! Танд амжилт хүсье</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="~/images/bg3.jpg" alt="Unsplashed background img 3" style="display: block; transform: translate3d(-50%, 9px, 0px);">
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.1.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            preloader = new $.materialPreloader({
                position: 'top',
                height: '5px',
                col_1: '#159756',
                col_2: '#da4733',
                col_3: '#3b78e7',
                col_4: '#fdba2c',
                fadeIn: 200,
                fadeOut: 200
            });

            var notifications = $.connection.messagesHub;

            notifications.client.updateMessages = function () {
                preloader.on();
                getAllMessages();
                Materialize.showStaggeredList('#staggered-test');
            };
            $.connection.hub.start().done(function () {
                preloader.on();
                getAllMessages();
            }).fail(function (e) {
                alert(e);
            });
        });


        function getAllMessages() {
            var tbl = $('#messagesTable');
            $.ajax({
                url: 'http://localhost/real/home/GetMessages',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
                preloader.off();
            }).error(function () {

            });
        }
    </script>
}
